body{
    background-color: dimgray;
    color: white;
    text-align: center;
}
.Adding{
    display: flex;
    justify-content: center;
    gap: 10px;
}
#addNew{
    padding: 10px;
    display: flex;
    justify-content: center;
    width: 15%;
    border-radius: 5px;
}
#addNew>img{
    float: right;
    height: 16px;
    width: 16px;
    border: 1px black solid;
    padding: 10px;
    box-shadow: #181818 1px 1px 3px;

}
#addNew>span{
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 5px;
}
#newTitle{
    border: 1px solid black;
    width: 50%;
}
#newTitle:placeholder-shown {
    text-align: center;
}
ul{
    list-style-type: none;
    margin-top: 50px;
    text-align: center;
}
li{
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: #181818 2px 3px 2px;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
}
li>span{
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    align-self: center;
    margin-left: auto;
    margin-right: fill;
}
.buttons{
    margin-right: 15px;
    align-self: flex-end;
}
#addNew:hover{
    background-color: #adeaad;
    cursor: pointer;
}
#del:hover{
    background-color: lightcoral;
    cursor: pointer;
}
#edit:hover{
    background-color : #e2a73f;
    cursor: pointer;
}
li>.buttons>img{
    height: 16px;
    width: 16px;
    border: 1px black solid;
    padding: 10px;
    box-shadow: #181818 2px 2px 6px;
    margin-right: 15px;
}