*{
    border: solid black 1px;
}
header{
    background-color: rgb(174, 247, 247);
}
.container{
    display: flex;
}
section{
    width: 49%;
}
ol{
    list-style: none;
    display: flex;
}
li{
    display: inline-block;
    padding: 4px;
    width: 100px;
    text-align: center;
}
li:hover{
    background-color: lightcoral;
    cursor: pointer;
}
footer{
    opacity: 0.6;
    text-align: center;
    padding: 10px;
}
article{
    background-color: lightgray;
}